@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */

/* fonts */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../../fonts/nunito-v25-latin-regular.woff2') format('woff2'),
    url('../../fonts/nunito-v25-latin-regular.woff') format('woff');
    font-display: swap;
}

/* nunito-600 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../../fonts/nunito-v25-latin-600.woff2') format('woff2'),
    url('../../fonts/nunito-v25-latin-600.woff') format('woff');
    font-display: swap;
}

/* nunito-700 - latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../../fonts/nunito-v25-latin-700.woff2') format('woff2'),
    url('../../fonts/nunito-v25-latin-700.woff') format('woff');
    font-display: swap;
}

/* misc */
[x-cloak] {
    display: none !important;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    left: 100%;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    border-radius: 5px;
    background: #444;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}
